//- userLoggesIn is passes so that we can use profilepic
mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt= "User's profile Pic")
        .textareaContainer
            textarea#postTextarea(placeholder="What's New ?")
            .buttonsContainer
                button#submitPostButton(disabled ="") Post

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-cmontent
                .modal-header
                    h5#replyModalLabel.modal-title Comment
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt= "User's profile Pic")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="What's New ?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button',disabled ="") Reply 